* {
    margin: 0;
    padding: 0;
}

tbody {
    height: 60vh;
    width: 0;
    box-sizing: border-box;
    background-color: rgb(3, 3, 43);
}

.lexus {
    color: goldenrod;
}

.tabela {
    border-collapse: collapse;
    margin: 10%;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(3, 3, 43);

}



